<div class="top-container">
  
</div>

<div class="scamazon-articles">
  <article class="article1">
    <h3>INFORMATION</h3>
    <p>Thank you for Playing Crank! This brief manual will help you understand what the hell kind of website you just went to!</p>
    <p>Generate Volt units by turning the crank, one full rotation is a full crank. Upgrade the machine by purchasing vacuum tubes to help streamline your energy generation.
       Upgrade your vacuum tubes to transistors for more power. Unlock more technology as you crank. Buy copper coils to increase your cranking power! this description needs ALOT OF WORK</p>
       <p>
        Energy modifiers such as vacuum tubes help regulate the crank and by alternating the current, helps produce a steady stream of Volt units
       </p>
       <p>
        Mechanical upgrades such as the copper coils improve the crank's efficiency
       </p>
       <p>
        Communications open up a new age of...well...communicating! (unfinished)
       </p>
       <p>I also made a discord server for Crank, theres not much to it... but it could help me alot to find out problems im not seeing and document other things and get other feedback</p>
       <a href="https://discord.gg/6vUrSctDgh" target="_blank">Join the Crank Discord</a>

  </article>

  <article class="article2">
    <h3>CHANGELOG. v0.00001P</h3>
    <div class="change">
      <h5>The Volt Update!</h5>
      <p>-Reworded several aspects. Energy is now considered Volt Units, or Voltage.</p>
      <p>-Cleaned up webpage CSS a little bit to make it easier to read</p>
      <p>-Broke the various modules loading on page refresh/switch, will work on that another time</p>
    </div>
    <div class="change">
      <h5>The Electric Money Update!</h5>
      <p>-Construction finished! New machine! The Printing Press! use your flywheel's stored energy to start making pamphlets that you sell to generate that sweet automatic income.</p>
      <p>-Construction finished! New machine! The Transformer! use your flywheel's stored energy to start passively selling a few volt. This should scrape together an income.</p>
      <p>-added ability to purchase ink and paper, turn on/off the printing press, pamphlets made will be sold automatically.</p>
      <p>-updates transistor to 12x instead of 10x so there is a reason to upgrade.</p>
      <p>-Scamazon Lite removed, may add back later.. when i have a better reason for it</p>
      <p>-still havent fixed the broken modules loading on page refresh/switch, will work on that another time</p>
    </div>
    <div class="change">
        <h5>The BIG BRAIN Update!</h5>
        <p>-Logistics section! Train! :D  The train gives you some automation on supplies, also allows for profits! profits vary on distance.</p>
        <p>-Scamazon Lite may return....we will see</p>
        <p>-webpage link fixed- this is /information now, no longer /scamazon</p>
        <p>-Cleaned up some more CSS... not much of a visual change</p>
        <p>-New part! Babbage Engine (first computing engines, look them up, pretty neat!)</p>
        <p>-Babbage Engine! Calculates fractional and frictional turns of the crank to calculate more energy per crank! </p>
        <p>-still havent fixed the broken modules loading on page refresh/switch, will work on that another time</p>
        <p>-more features hopefully soon, dont want to burn myself out but also have more ideas I want to get out</p>
    </div>
  </article>
</div>