<html>
<div class="top">
<h1>Crank</h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/information">Information</a>
    <a routerLink="/scamazon">Scamazon</a>
    <div class="banner" *ngIf="showBanner">
        Dont forget to give it a FULL crank to get it running again! The THIRD update, new features! new stuff! and hopefully more soon... <button class="bttn" (click)="closeBanner()">X</button>
      </div>
</nav>

</div>


<header>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</header>
<router-outlet></router-outlet>
<footer>
    <p>&copy; 2023 Bowmanda. All rights reserved.</p>
</footer>
</html>