<div class="top-container">
  <img src="assets/scamazon.png" alt="scamazon logo">
</div>

<div class="scamazon-articles">
  <article class="article1">
    <h3>INFORMATION</h3>
    <p>Thank you for purchasing item#6548234! This brief manual will help you understand what the hell you just bought!
    </p>
  </article>

  <article class="article2">
    <h3>CHANGELOG. v0.00000F?</h3>
    <div class="change">
      <h5>The Volt Update!</h5>
      <p>-Reworded several aspects. Energy is now considered Volt Units, or Voltage.</p>
      <p>-Cleaned up webpage CSS a little bit to make it easier to read</p>
      <p>-Broke the various modules loading on page refresh/switch, will work on that another time</p>
    </div>
  </article>
</div>