.image-container {
    display: flex;
    flex-wrap: wrap;
  }

  .print {
    width: 260px;
    height: 100px;
  }

  .interactive {
    background-color: #aaa;
    display: flex;
    padding: 0px;
  }

  .logistics-space{
    flex: 1;
    padding: 10px;
    background-color: #aaa;
    border: 1px solid #ccc;
  }

  .crank-container{
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 5px;
  }

  .tech-space {
    flex: 1;
    padding: 10px;
    background-color: #aaa;
    border: 1px solid #ccc;
    display: flex;
  }

  .logistics-space,
  .other-space,
  .train-status {
    text-align: center;
    flex: 1;
    padding: 10px;
    background-color: #aaa;
    border: 1px solid #ccc;
    max-width: 50%;
  }

  .train-status{
    text-align: center;
  }
  
  .transformer-container,
  .energy-container,
  .printer-container,
  .flywheel-container,
  .communication-container {
    text-align: center;
    flex: 1;
    padding: 10px;
    background-color: #aaa;
    border: 1px solid #ccc;
  }

  .logistics-space {
    display: flex;
    flex-wrap: wrap;
  }

  #scroll{
    direction:ltr;
  }

  .logistics-container,
  .train-controls {
    flex: 1;
    border: 1px solid #ccc;
    display: 50%;
    display: inline;
    text-align: center;
  }

  .scrollbar {
    float: right;
    direction: rtl;
  }

  .train {
    display: inline;
    flex: 0;
    justify-content: flex-end;
  }
  .train-container{
    overflow-x: scroll;   
    overflow-y: hidden;   
    white-space: nowrap;
    width: auto;
  }

  .slider {
    display: inline;
  }

  .transformer-container{
    max-width: 180px;
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }

  .energy-container{
    max-width: 200px;
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }

  .printer-container{
    max-width: 450px;
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }

  .flywheel-container{
    max-width: 80px;
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }

  .printer-container {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }

  .printer-button,
  .printer-info,
  .transformer-buttons,
  .flywheel-buttons {
    flex: 1;
    padding: 10px;
    min-width: 140px;
    border: 1px solid #ccc;
    display: 50%;
  }



  .flyimg {
    width: auto;
    height: auto;
  }
  
  .interactions {
    display: inline-block;
    margin-right: 10px;
  }


  .print {
    max-width: 100%;
    height: auto;
    padding-left: 10;
  }
  button {
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .item{
    background-color: #818181;
    padding: 5px;
  }

  .tube-container {
    display: flex;
    flex-wrap: wrap;

  }
  .tube-display {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .trans-container {
    display: flex;
    flex-wrap: wrap;

  }
  .trans-display {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .coils-container {
    display: flex;
    flex-wrap: wrap;

  }
  .coils-display {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
  }

