<body>
    <div class="interactive">
        <article class="energy-container">
            <button (click)="reset()" style="display: block;">Turn the machine on and off again.</button>
            <div class="crank-container">
                <img [src]="currentImage" (click)="nextImage()" (click)="incrementClicks()" alt="Crank"
                    style="display: block; margin-top: 10px;" />
            </div>
            <button (click)="sellEnergy()" style="display: block;">Sell Electricity, $0.05 per Volt</button>
        </article>
        <article class="information">
            <p>Times you've cranked {{ score }} times!</p>
            <p>Energy stored: {{ energy }} Volts</p>
            <p>Money collected: ${{ money.toFixed(2) }}</p>
            <p *ngIf="showFlywheelInfo">Flywheel Contains {{ flywheel }} Volts</p>
            <p *ngIf="showFlywheelInfo">Flywheel Mk{{ flywheelUpgrade }}</p>
        </article>
        <article class="money-container">
            <p>UNDER CONSTRUCTION</p>
        </article>
        <article class="flyWheel-container">
            <img *ngIf="showFlywheelInfo && ownFlywheel" class="fly" [src]="currentFlyImage"
            alt="/assets/flywheel1.png">
            <button *ngIf="showFlywheelInfo && !ownFlywheel" [disabled]="money < 5" (click)="buyFlywheel()"
                (click)="toggleLoop()">Purchase flywheel</button>
            <button id="toggleFlywheel" class="fly" *ngIf="showFlywheelInfo && ownFlywheel  || lockFlywheel"
                (click)="toggleLoop()">Start/Stop Flywheel</button>
            <button class="fly" *ngIf="showFlywheelInfo && ownFlywheel || lockFlywheel"
                (click)="upgradeFlywheel()">Upgrade
                Flywheel</button>
        </article>
    </div>
    
    <hr>
    <div class="item">
        <p *ngIf="showTubeInfo" style="display: inline;">Vacuum Tubes, $5! Installation requires 20 volts</p>
        <button [disabled]="energy < 40" *ngIf="showTubeInfo" (click)="addTube()" style="display: block;">VACUUM
            TUBES: BUY
            NOW!</button>
        <p *ngIf="showTubeInfo">Vacuum Tubes owned: {{ tubes }}</p>
        <div class="tube-container">
            <div *ngFor="let vacuum of vacuum">
                <img [src]="vacuum" alt="Vacuum Tube" class="tube-display">
            </div>
        </div>
    </div>

    <hr>
    <div class="item">
        <p *ngIf="showTubeInfo" style="display: inline;">Transistors, $15! Installation requires 100 volts and the
            removal of 10 Vacuum Tubes.</p>
        <button [disabled]="tubes < 10" *ngIf="showTransInfo" (click)="addTrans()" style="display: block;">BUY A
            TRANSISTOR!
            10x
            THE EFFICENCY</button>
        <p *ngIf="showTransInfo">Transistors owned: {{ transistor }}</p>
        <div class="trans-container">
            <div *ngFor="let trans of trans">
                <img [src]="trans" alt="Transistor" class="trans-display">
            </div>
        </div>
    </div>


    <hr>
    <div class="machine-space">
        <div class="item">
            <p *ngIf="showMachines" style="display: inline;">Copper Coils, $50! Installation requires 250 volts</p>
            <button [disabled]="money < 50" *ngIf="showMachines" (click)="addCoils()" style="display: block;">BUY A
                COIL!
                STRENGTHEN YOUR CRANK</button>
            <p *ngIf="showMachines">Coils owned: {{ copperCoils }}</p>
            <div class="coils-container">
                <div *ngFor="let coils of coils">
                    <img [src]="coils" alt="Copper Coils" class="coils-display">
                </div>
            </div>
        </div>
    </div>



    <iframe *ngIf="score == 4" width="1864" height="770" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
        title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</body>